@using Gui.Pages
@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (!context.User.Identity!.IsAuthenticated)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <div class="page-error">
                            <h3>Access Denied</h3>
                            <p>You don't have permission to view this page.</p>
                        </div>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <p>Sorry, this page doesn't exist.</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>